* {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

body {
	color: #181b25;
	background-color: #f9f1dc;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 60px;
	font-weight: 900;
}

h2 {
	text-align: center;
}

header {
	text-align: center;
	width: 100%;
}

footer {
	background-color: rgba(0, 0, 0, 0.1);
	width: 100%;
	text-align: center;
	padding: 1em;
}

.wrap {
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
}

.game {
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #181b25;
	padding: 1vmin;
	display: grid;
	grid-gap: 1px;
	grid-template-rows: repeat(16, 1fr);
	grid-template-columns: repeat(16, 1fr);
	height: 60vmin;
	width: 60vmin;
	box-shadow: -10px 10px rgba(76, 134, 168, 0.5),
		10px -10px rgba(254, 95, 0, 0.5);
}

.block {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1fr;
}

.hovered {
	background-color: rgba(0, 0, 0, 0.75);
}
